* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(rgb(40, 40, 40), gray);

    display: flex;
    justify-content: center;
}

#register-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
}

#register-detail {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#register-form {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#register-form img {
    width: 24px;
    height: auto;
}

#register-title {
    margin-left: 1%;
    color: white;
}

#register-title h1 {
    font-size: 2rem;
    font-weight: 800;
}

.form-name input {
    width: 350px;
    height: 50px;
    padding: 0 0 0 15px;
    font-weight: 700;
    color: white;

    background: none;
    border-radius: 15px;
    border: 3px solid #2B82D8;
    box-shadow: 1px 1px 4px 0px #006CA2;
}

.icon-name {
    margin: 0 0 6px 12px;
    display: flex;
    gap: 8px;

    color: white;
    font-weight: 700;
}

.form-email input {
    width: 500px;
    height: 50px;
    padding: 0 0 0 15px;
    font-weight: 700;
    color: white;

    background: none;
    border-radius: 15px;
    border: 3px solid #2B82D8;
    box-shadow: 1px 1px 4px 0px #006CA2;
}

.icon-email {
    margin: 0 0 6px 12px;
    display: flex;
    gap: 8px;
    
    color: white;
    font-weight: 700;
}

.form-password input {
    width: 500px;
    height: 50px;
    padding: 0 0 0 15px;
    font-weight: 700;
    color: white;

    background: none;
    border-radius: 15px;
    border: 3px solid #2B82D8;
    box-shadow: 1px 1px 4px 0px #006CA2;
}

.icon-password {
    margin: 0 0 6px 12px;
    display: flex;
    gap: 8px;
    
    color: white;
    font-weight: 700;
}

.form-confirm-password input {
    width: 500px;
    height: 50px;
    padding: 0 0 0 15px;
    font-weight: 700;
    color: white;

    background: none;
    border-radius: 15px;
    border: 3px solid #2B82D8;
    box-shadow: 1px 1px 4px 0px #006CA2;
}

.icon-confirm-password {
    margin: 0 0 6px 12px;
    display: flex;
    gap: 8px;
    
    color: white;
    font-weight: 700;
}

::placeholder {
    color: white;
    opacity: 50%;
}

#register-btn {
    margin-top: 28px;
    background: #A8108F;
    border-radius: 12px;
    width: 500px;
    height: 40px;
    border: none;
    box-shadow: 2px 2px 2px 0px white;

    color: white;
    font-weight: 700;
}

#login-pop {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    gap: 4px;
}

#login-pop span {
    color: white;
    font-weight: 700;
}

#login-pop a {
    color: #006CA2;
    text-decoration: underline;
    text-underline-offset: 50%;
}